{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header style="background-color: pink;" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Each Others Everything...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br></br>    
                        <p align="justify">
                        Each Others Everything started with a simple idea: to bring people together through products that inspire joy and connection. We carefully select every item in our shop to ensure quality, uniqueness, and affordability. Our goal is to provide not just products, but experiences that make life a little brighter for everyone. Whether you're shopping for yourself or looking for the perfect gift, we want every visit to our store to feel special. 
                        <br></br>     
                        We believe in building a community where customers feel valued and supported. Our team is dedicated to excellent service, and we are always here to answer your questions, provide recommendations, and make your shopping experience seamless. At Each Others Everything, it’s not just about selling items—it’s about creating moments, memories, and happiness for all who walk through our doors, online or in-person.
                        <br></br>        
                        Thank you for being part of our journey. We’re excited to continue sharing our passion, expanding our collection, and connecting with each and every one of you. Join us, explore, and discover everything that makes Each Others Everything truly special.
                    </p>
                    <br></br>    
                    </div>
                </center>
            </div>
        </div>
{% endblock %}
